<!-- src/main/resources/mybatis/ReceiptMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hivesys.gw.mapper.GwMapper">

  <!-- 명시적 매핑: 스네이크 컬럼 → 카멜 VO 프로퍼티 -->
  <resultMap id="ReceiptAppMap" type="receiptAppVO">
    <id column="RECEIPT_ID" property="receiptId"/>
    <result column="RECEIPT_DATE" property="receiptDate"  jdbcType="TIMESTAMP"/>
    <result column="INFORMER_ID" property="informerId"/>
    <result column="LOC_ID" property="locId"/>
    <result column="INFORMER_NAME" property="informerName"/>
    <result column="COMMENT_TXT" property="commentTxt"/>
    <result column="AREA_CODE" property="areaCode"/>
    <result column="REPORT_TYPE" property="reportType"/>
    <result column="REPORT_TYPE_NAME" property="reportTypeName"/>
    <result column="PHONE_CELL" property="phoneCell"/>
    <result column="X_COORDINATE" property="xCoordinate"/>
    <result column="Y_COORDINATE" property="yCoordinate"/>
    <result column="ARTERY_NAME" property="arteryName"/>
    <result column="flagLange" property="flagLange"/>
    <result column="FLAG_SITU_ED" property="flagSituEd"/>
  </resultMap>

  <!-- 제보 저장 시 통신원테이블 정보와 대조하여 정보 있으면 가져올 것 -->
  <insert id="insertReceipt" parameterType="receiptAppVO">
	  INSERT INTO RECEIPT_APP (
	      RECEIPT_ID,
	      RECEIPT_DATE,
	      INFORMER_ID,
	      INFORMER_NAME,
	      COMMENT_TXT,
	      AREA_CODE,
	      REPORT_TYPE,
	      PHONE_CELL,
	      X_COORDINATE,
	      Y_COORDINATE,
	      ARTERY_NAME,
	      FLAG_SITU_ED
	  )
	  SELECT
	      'APP_' || #{phoneCell} || '_' || TO_CHAR(SYSDATE, 'HH24MISS') AS RECEIPT_ID,
	      SYSDATE AS RECEIPT_DATE,
	      i.INFORMER_ID AS INFORMER_ID,
	      <!-- NVL(i.INFORMER_NAME, #{informerName}) AS INFORMER_NAME, -->
	      #{informerName} AS INFORMER_NAME,
	      #{commentTxt} AS COMMENT_TXT,
	      #{areaCode} AS AREA_CODE,
	      #{reportType} AS REPORT_TYPE,
	      #{phoneCell} AS PHONE_CELL,
	      #{xCoordinate} AS X_COORDINATE,
	      #{yCoordinate} AS Y_COORDINATE,
	      #{arteryName} AS ARTERY_NAME,
	      1 AS FLAG_SITU_ED
	  FROM DUAL d
	  LEFT JOIN INFORMER i
	    ON (   i.PHONE_CELL   = #{phoneCell}
	        OR i.PHONE_HOME   = #{phoneCell}
	        OR i.PHONE_OFFICE = #{phoneCell})
	    AND ROWNUM = 1 
  </insert>

  <!-- 상황 해지 시 update -->
	<select id="updateReceiptById" parameterType="receiptAppVO">
		UPDATE RECEIPT_APP
		SET FLAG_SITU_ED = 2
		WHERE RECEIPT_ID = #{receiptId}
	</select>

  <!-- 제보내용조회 -->
  <select id="findReportName" parameterType="receiptAppVO" resultType="string">
  	select BAS_NAME from code_report_type where bas_lcod=100 and bas_scod= #{reportType}
  </select>
  <!-- 제보내용조회 -->
  <select id="areaReceipt" parameterType="receiptAppVO" resultMap="ReceiptAppMap">
    SELECT * FROM RECEIPT_APP
    <![CDATA[  
	    where RECEIPT_DATE >= SYSDATE - 30/(24*60)
		and flag_situ_ed=1
    ]]>
    <!-- 전체 제보로 flag값 발생 (1:내주변,2:전체) -->
    <!-- 플래그 값 미존재 : default 내주변제보 -->
    <choose>
        <when test="flagLange == 2">
            AND AREA_CODE = #{areaCode}
        </when>
        <otherwise>
            <![CDATA[  
            AND X_COORDINATE >= #{xCoordinate} - 0.01 AND X_COORDINATE <= #{xCoordinate} + 0.01 
            AND Y_COORDINATE >= #{yCoordinate} - 0.01  AND Y_COORDINATE <= #{yCoordinate} + 0.01
            ]]>
        </otherwise>
    </choose>
  </select>

    <!-- Oracle 11g: PK는 시퀀스 + selectKey로 할당 -->
  <insert id="insertUserLoc" parameterType="receiptAppVO"> 
    <selectKey keyProperty="locId" resultType="long" order="BEFORE">
      SELECT SEQ_USER_LOC_HIS.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO USER_LOC_HIS (
      LOC_ID, PHONE_CELL, RECEIPT_DATE, X_COORDINATE, Y_COORDINATE, ARTERY_NAME
    ) VALUES (
      #{locId}, #{phoneCell}, sysdate, #{xCoordinate}, #{yCoordinate}, #{arteryName}
    )
  </insert>

  <!-- (필요시) 단건/목록 조회 예시 -->
  <select id="selectLocByPhone" parameterType="receiptAppVO" resultMap="ReceiptAppMap">
    <![CDATA[  
    	SELECT *
		FROM USER_LOC_HIS
		WHERE PHONE_CELL = #{phoneCell}
		AND RECEIPT_DATE IN (
		    (
		    	SELECT MAX(RECEIPT_DATE)
		     	FROM USER_LOC_HIS
		     	WHERE PHONE_CELL = #{phoneCell}
		        AND RECEIPT_DATE >= SYSDATE - 5/(24*60)
		    ),
		    (
		     	SELECT MIN(RECEIPT_DATE)
		     	FROM USER_LOC_HIS
		     	WHERE PHONE_CELL = #{phoneCell}
		     	AND RECEIPT_DATE >= SYSDATE - 5/(24*60)
		     )
		)
		ORDER BY RECEIPT_DATE ASC
    ]]>
  </select>
  
  <select id="unionAppReceipt" parameterType="receiptAppVO" resultMap="ReceiptAppMap">
		select 
		    receipt_id,
		    receipt_date,
		    informer_id,
		    informer_name,
		    comment_txt,
		    area_code,
		    report_type,
		    phone_cell,
		    x_coordinate,
		    y_coordinate,
		    flag_situ_ed
		from receipt_app
		where area_code=#{areaCode}
		and RECEIPT_DATE <![CDATA[>=]]> #{reqDate} 
		and flag_situ_ed=1
		
		union all 
		
		select 
		    receipt_id,
		    to_date(to_char(receipt_day,'yyyymmdd')||replace(receipt_time,' ','')||'00','yyyymmddhh24miss') as receipt_date,
		    individual_id as informer_id,
		    individual_name as informer_name,
		    memo as comment_txt,
		    region_id as area_code,
		    report_type,
		    r_tel as phone_cell,
		    x_coordinate,
		    y_coordinate,
		    <!-- 제보접수에서 상황 해지된 제보를  -->
		    '1' as flag_situ_ed
		from report_receipt_today
		where region_id= #{areaCode}
		and receipt_day <![CDATA[ >= ]]> #{reqDate} 
		and receipt_day <![CDATA[ <= ]]> sysdate    
  </select>
</mapper>
